---
title: "Hero"
---

<main>
    <section class="relative flex flex-col items-center min-h-screen w-full">
        <p class="font-[300] pt-20 pb-4 text-[5rem] leading-none relative z-[200] text-center md:w-[60vw] w-[90vw]">Power <span>Generative AI</span> 
           <br /> With Your Data</p>
        <p class="text-[1.4rem] font-thin leading-none relative z-[200] text-center md:w-[60vw] w-[90vw]">Make the best models with the best data. Scale Data Engine leverages your enterprise data, and with Scale GenAI Platform, safely unlocks the value of AI.</p>
        <img loading="lazy" decoding="async" data-nimg="1" height="700" width="1050" class="absolute top-0 left-0 duration-1000 pointer-events-none object-cover z-[100]" style="color: transparent; opacity: 1;" src="/public/pallets.webp">

        <p class="text-[1.1rem] text-neutral-400 py-8 font-thin leading-none relative z-[200] text-center md:w-[60vw] w-[90vw]">Scale works with Generative AI Companies, U.S. Government Agencies & Enterprises</p>
    </section>

    <section class="flex flex-col items-center text-center">
        <p class="text-[#D1AAD7] tracking-[4px] bg-white/5 rounded-full px-5 py-2 text-sm">AI FOR THE ENTERPRISE
        </p>

        <h1>Generative AI Architecture</h1>
        <p class="w-[90vw] md:max-w-[50vw]">Whether you&apos;re building your own models or applying foundation models to your business, data remains the biggest bottleneck to AI.</p>
        <div class="font-medium rounded-xl justify-center flex flex-nowrap whitespace-nowrap transition-translate duration-300 cursor-pointer group items-center h-full group leading-[150%] bg-custom-1 text-sm px-[30px] py-[10px]">Talk to a Generative AI Expert<span class="inline-block ml-1 font-normal duration-300 w-fit transition-translate group-hover:translate-x-1 font-unicode">→</span></div>    
    </section>

</main>