---
title: "Navbar"
---

<header class="py-10 flex flex-col">
    <div class="flex flex-row justify-between items-end"><p>Introducing the SEAL Leaderboards: the first truly expert-driven, trustworthy LLM contest.</p>
       <button>See the Leaderboard →</button> </div>
    <nav class="flex flex-row items-end justify-between">
        <div>Scale</div>
        <div class="flex flex-row items-end gap-6">
            <button>Products</button>
            <button>Government</button>
            <button>Customers</button>
            <button>Resources</button>
        </div>
        <div class="flex flex-row items-center gap-3">
            <a class="relative focus-visible:outline outline-[rgba(255,255,255,0.64)] rounded-xl outline-offset-[3px] inline-block" href="/demo">
                <div class="font-medium justify-center flex flex-nowrap whitespace-nowrap transition-translate duration-300 cursor-pointer group items-center h-full group leading-none text-sm px-[30px] py-[12px]">
                    Book a Demo
                    <span class="inline-block ml-1 font-normal duration-300 w-fit transition-translate group-hover:translate-x-1 font-unicode">→</span>
                </div>
            <span class="after:content-[''] after:inline-block absolute inset-0 after:inset-0 after:absolute select-none pointer-events-none after:rounded-[11px] rounded-[11px] shadow-[inset_0_0_0_1px_rgba(255,255,255,1)] after:shadow-[inset_0_0_0_1px_rgba(105,57,193,0.4)]"></span></a>            
            
            <button>Log in</button>   
        </div>
    </nav>
</header>